VITE_WORKER_URL=https://worker.francois-vauchot.workers.dev
VITE_BASE_URL=http://localhost:5173

SITE_URL_VERCEL=https://nom-du-site.vercel.app
SITE_URL_CLOUDFLARE=https://nom-du-site.francois-vauchot.workers.dev

OUTPUT_PATH_VERCEL=.output/public/sitemap.xml
OUTPUT_PATH_CLOUDFLARE=dist/client/sitemap.xml

VITE_CAL_USERNAME=francois-vauchot-xxyyzz